.htmlgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 3px;
  max-width: 100%;
  max-height: 100%;
}

body {
  background-color: black !important;
  max-height: 100%;
  max-width: 100%;
}

.button {
  width: 25ch;
  height: 25ch;
  border: 3px solid red;
  background-color: white;
}

.controls {
  background-color:gray;
  max-height: 15%;
  max-width: 100%;
}

html {
  background-color: black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}